# Global Solution - MAI OCEAN

## O nosso grupo optou pelo subdesafio de desenvolver modelos preditivos com machine learning para prever condições ambientais marítimas.

Desenvolver modelos preditivos usando técnicas de Machine Learning para prever condições ambientais
marítimas. O desenvolvimento envolve as etapas de exploração de dados, levantamento de hipótese,
criação e treinamento de modelo com validações e conclusão.

## Pré-processamento de dados

Dados meteorológicos e oceanográficos em tempo real coletados da rede de estações Weather Buoy ancoradas na Irlanda. Os parâmetros coletados incluem DateTime (yyyy-mm-ddThh:mm:ss.sss), pressão atmosférica (mbar), temperatura do ar (degreeCelsius), temperatura do ponto de orvalho (degreeCelsius), velocidade do vento (nós), velocidade máxima do vento de rajada (nós) , Direção do Vento (degreeTrue), Temperatura da Superfície do Mar (degreeCelsius), Período das Ondas (segundos), Altura das Ondas (metros) e Umidade Relativa (%). Dados em tempo real disponíveis para M2, M3, M4, M5 e M6. Dados históricos disponíveis para localização espacial M1, FS1 e M4 original. Os usuários do serviço de download podem escolher uma estação, período de tempo, parâmetro(s) e tipo de arquivo de saída. O download avançado permite que um usuário defina uma área de interesse da caixa delimitadora selecionando uma ou mais bóias da rede. 'NaN' ou '-999' descreve dados ausentes ou indisponíveis.

Real time meteorological and oceanographic data collected from the Irish moored Weather Buoy network of stations. Parameters collected include, DateTime (yyyy-mm-ddThh:mm:ss.sss), Atmospheric Pressure (mbar), Air Temperature (degreeCelsius), DewPoint Temperature (degreeCelsius), Wind Speed (knots), Max Gust Wind Speed (knots), Wind Direction (degreeTrue), Sea Surface Temperature (degreeCelsius), Wave Period (seconds), Wave Height (metres) and Relative Humidity (%). Real time data available for M2, M3, M4, M5 and M6. Historical data available for M1, FS1 and original M4 spatial location. Users of the download service can choose a station, time period, parameter(s) and output file type. Advanced download allows a user define a bounding box area of interest selecting one or more buoys from the network. 'NaN' or '-999' describes missing or unavailable data.

Dataset abrangente sobre conjunto de dados meteorológicos e oceanográficos
-
-
-
-
-
-

In [6]:
import pandas as pd

In [ ]:
dados = ''

In [ ]:
df = pd.read_csv()

In [ ]:
print(df)

In [7]:
df = pd.read_csv('https://query.data.world/s/fzhyg3iwyum2omkmdtbhhhgb6b7fyd?dws=00000')

<ipython-input-7-86cd0b6af0f5>:1: DtypeWarning: Columns (1,2,4,5,6,7,8,9,10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://query.data.world/s/fzhyg3iwyum2omkmdtbhhhgb6b7fyd?dws=00000')

In [8]:
print(df)

       station_id     longitude       latitude                  time  \
0             NaN  degrees_east  degrees_north                   UTC
1              M1         -11.2        53.1266  2001-02-06T13:00:00Z
2              M1         -11.2        53.1266  2001-02-06T14:00:00Z
3              M1         -11.2        53.1266  2001-02-06T15:00:00Z
4              M1         -11.2        53.1266  2001-02-06T16:00:00Z
...           ...           ...            ...                   ...
613388         M6     -15.88135       53.07482  2017-11-28T09:00:00Z
613389         M2     -5.424046      53.481003  2017-11-28T10:00:00Z
613390         M4     -9.999136      54.999966  2017-11-28T10:00:00Z
613391         M5     -6.704336      51.690426  2017-11-28T10:00:00Z
613392         M6     -15.88135       53.07482  2017-11-28T10:00:00Z

       AtmosphericPressure WindDirection WindSpeed    Gust WaveHeight  \
0                       mb  degrees_true        kn      kn          m
1                    967.6         270.0     21.98    33.1        NaN
2                    969.8         270.0     23.93    35.0        NaN
3                    972.0         270.0     19.07    31.1        NaN
4                    973.6         270.0     15.95    25.3        NaN
...                    ...           ...       ...     ...        ...
613388              1026.1         340.0      18.0    29.0        3.4
613389            1011.926           NaN    21.916  28.462      1.719
613390            1018.994           3.0    20.493  28.035        NaN
613391            1015.442         339.0    21.631  28.462      1.719
613392              1026.5         360.0      21.0    27.0        3.1

       WavePeriod MeanWaveDirection   Hmax AirTemperature  DewPoint  \
0               s      degrees_true      m       degree_C  degree_C
1             NaN               NaN    NaN            8.9       NaN
2             NaN               NaN    NaN            8.5       NaN
3             NaN               NaN    NaN            8.9       NaN
4             NaN               NaN    NaN            9.1       NaN
...           ...               ...    ...            ...       ...
613388        7.0               NaN    NaN            9.0       4.2
613389      4.219               NaN  2.813          9.116       NaN
613390        NaN               NaN    NaN          8.467       NaN
613391       4.57               NaN  2.578          7.612       NaN
613392        7.0               NaN    NaN            8.3       3.7

       SeaTemperature RelativeHumidity  QC_Flag
0            degree_C          percent      NaN
1                 9.0              NaN      1.0
2                 9.0              NaN      1.0
3                 9.0              NaN      1.0
4                 9.0              NaN      1.0
...               ...              ...      ...
613388           12.7             72.0      0.0
613389         12.988           79.688      0.0
613390         11.279           67.578      0.0
613391         12.373           74.609      0.0
613392           12.7             73.0      0.0

[613393 rows x 17 columns]

In [11]:
df.head()

,station_id,longitude,latitude,time,AtmosphericPressure,WindDirection,WindSpeed,Gust,WaveHeight,WavePeriod,MeanWaveDirection,Hmax,AirTemperature,DewPoint,SeaTemperature,RelativeHumidity,QC_Flag
0,NaN,degrees_east,degrees_north,UTC,mb,degrees_true,kn,kn,m,s,degrees_true,m,degree_C,degree_C,degree_C,percent,NaN
1,M1,-11.2,53.1266,2001-02-06T13:00:00Z,967.6,270.0,21.98,33.1,NaN,NaN,NaN,NaN,8.9,NaN,9.0,NaN,1.0
2,M1,-11.2,53.1266,2001-02-06T14:00:00Z,969.8,270.0,23.93,35.0,NaN,NaN,NaN,NaN,8.5,NaN,9.0,NaN,1.0
3,M1,-11.2,53.1266,2001-02-06T15:00:00Z,972.0,270.0,19.07,31.1,NaN,NaN,NaN,NaN,8.9,NaN,9.0,NaN,1.0
4,M1,-11.2,53.1266,2001-02-06T16:00:00Z,973.6,270.0,15.95,25.3,NaN,NaN,NaN,NaN,9.1,NaN,9.0,NaN,1.0

## Análise Exploratória